<?php

/**
 * Database Configuration
 *
 * All of your system's database configuration settings go in here.
 * You can see a list of the default settings in craft/app/etc/config/defaults/db.php
 */

return array(
  '*' => array(
    'server'   => '{{ site_env.db_host }}',
    'user'     => '{{ site_env.db_user }}',
    'password' => '{{ site_env.db_password }}',
    'database' => '{{ site_env.db_name }}',
  ),
);
